<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github2136.selectimamge">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".SelectImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SelectTheme"/>
    </application>
</manifest>